body { background: #8c7723; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 56px; display: flex; }
.block-invoice-0 { color: #80673f; font-size: 12px; margin-bottom: 5px; }
.block-logger-1 { color: #def582; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #30274e; font-size: 16px; margin-bottom: 5px; }
.block-config-3 { color: #7b4e20; font-size: 13px; margin-bottom: 5px; }
.block-logger-4 { color: #5e7bbf; font-size: 13px; margin-bottom: 5px; }